@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');
body {
    background-color: #E4E4E4;
    font-family: Dosis, Arial, Helvetica, sans-serif;   
    
}
header {
    padding: 15px ;
    width: 80%;
    height: auto;
    margin: 15px 7%;
    background-color: #C67E58;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 15px #939393;
    text size: 16px bold;
}
.primary {
    padding: 15px 15px;
    width: 80%;
    height: auto;
    margin: 20px 7%;
    background-color: #8f8f8f;
    height: 1200;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 0 15px #939393;
}
.box1 {
    position: fixed; 
    top: 700px;
    left: 10px;
width: 100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: black;
    border-radius: 10px;
    background-color: #C67E58;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px black;
}

.styled:hover {
    background-color: red;
}


    
  
  


}